.feature {
  padding-top: 60px;
  padding-bottom: 60px;

@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}

    &__block {
      background-color: var(--buttun-color);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      margin-bottom: 30px;

      @media screen and (min-width: 480px) {
        width: 450px;
      }

      @media screen and (min-width: 768px) {
        width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
      }
    }
    
    &__title {
      margin-bottom: 10px;
    
      color: var(--content-textcolor);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;

      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
    
    &__list {

      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
      }

      @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;

      }
    }

    
    &__item {

      @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 90px) / 4);
      }
    }

    &__item:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    
    &__text {
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 0;
    }
  }