.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
  }
  
  .filter__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .filter__button {
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
  
    color: var(--content-textcolor);
    background-color: var(--buttun-color);
    border-color: transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
  }
  
  .filter__button:hover,
  .filter__button:focus {
    background-color: var(--effect-textcolor);
    color: var(--higtlite-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .examples__list {
    display: grid;
    grid-gap: 30px;
    justify-items: center;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .card__text {
    border: 1px solid #eeeeee;
    border-top-style: none;
    padding: 20px 24px;
  }
  
  .examples__item {
    width: 320px;

    @media screen and (min-width: 768px) {
      width: 340px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }
  
  .examples__item:nth-child(3n) {
    @media screen and (min-width: 768px) {
      margin-right: 0px;
    }

  }
  
  .examples__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  
  .examples__link {
    display: block;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
  }
  
  .examples__link:hover,
  .examples__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .company {
    margin: 0px;
  
    color: var(--content-textcolor);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .type {
    margin-top: 4px;
    margin-bottom: 0px;
  
    color: var(--main-textcolor);
    font-size: 16px;
    line-height: 1.88;
  }
  
  .examples__thumb {
    position: relative;
    overflow: hidden;
  }
  
  .examples__description {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
  
    width: 322px;
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .overlay {
    position: absolute;
    z-index: 1;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .examples__link:hover .overlay,
  .examples__link:focus .overlay {
    transform: translateY(-100%);
  }